<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Post</title>
</head>
<body>
<!-- Important to include th:action for all mapping and links from now on to prevent cross site injection issues-->
<form th:action="@{/posts/edit/{id}(id=${postToShow.id})}" method="post">
    <label for="title">Title</label>
    <input id="title" name="title" type="text" th:value="${postToShow.title}">
    <label for="body">Body</label>
    <input id="body" name="body" type="text" th:value="${postToShow.body}">
    <input type="submit" value="Update">
</form>
<form th:action="@{/posts/delete/{id}(id=${postToShow.id})}" method="post">
    <input type="submit" value="Delete">
</form>

</body>
</html>